@import "tailwindcss";

@theme {
    --color-bg: #fcf2f2;
    --color-primary: #ff644f;
    --color-secondary: #f8cd73;
    --color-tertiary: #4da3ff;
    --color-accent: #a7d269;
    --color-stroke: #A5A5A5;
    --color-gray: #8a8a8a;
    --spacing-xs: 0.5rem;
    --spacing-sm: 1rem;
    --spacing-md: 2rem;
    --spacing-lg: 6rem;
    --spacing-paragraph: 500px;
    --text-xs: 12px;
    --text-sm: 14px;
    --text-md: 16px;
    --shadow-md-strong: 0 4px 6px rgba(0, 0, 0, 0.4);
}

@layer components {
    .title {
        font-weight: 700;
    }
}

html, body {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    background-color: var(--color-bg);
}

a {
    font-style: italic;
}

a:hover {
    color: var(--color-primary);
}