@import "tailwindcss";

@theme {
    --color-bg: #D9D9D9;
    --color-primary: #c6403f;
    --color-secondary: #ddde92;
    --color-accent: #a7d269;
    --color-stroke: #A5A5A5;
    --spacing-sm: 1rem;
    --spacing-md: 2rem;
    --spacing-lg: 6rem;
    --spacing-paragraph: 500px;
    --text-sm: 12px;
    --shadow-md-strong: 0 4px 6px rgba(0, 0, 0, 0.4);
}

@layer components {
    .title {
        font-weight: 700;
    }
}

html, body {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    background-color: var(--color-bg);
}

a {
    font-style: italic;
}

a:hover {
    color: var(--color-stroke);
}