---
import Layout from '../layouts/Layout.astro';
import Cards from '../components/ui/cards.astro';
import Dropdown from '../components/svg/dropdown.astro';
---

<Layout>
	<div class='p-sm xl:py-md'>
		<div
			class='flex flex-col gap-md sm:grid grid-cols-[auto_auto_1fr_auto] grid-rows-[auto_auto_auto] sm:gap-x-md sm:gap-y-lg'>
			<div class='max-sm:hidden w-[1px] border-r border-stroke h-full row-span-full col-start-2'>
			</div>
			<div class='max-sm:hidden h-full row-span-full col-start-4'>
				<a
					href='mailto:e.kasteleiner@outlook.de'
					target='_blank'
					>Mail</a
				>
			</div>
			<a
				class='sm:hidden fixed top-sm right-sm bg-bg pl-xs z-[99]'
				href='mailto:e.kasteleiner@outlook.de'
				target='_blank'
				>Mail</a
			>
			<div class='flex flex-col gap-sm text-nowrap'>
				<div>Elian Kasteleiner</div>
				<div>23 Jahre</div>
				<div>Kassel</div>
			</div>
			<div class='flex flex-col gap-sm'>
				<div class='title'>Web-Entwickler</div>
				<div>
					Freelancer <a
						target='_blank'
						href='https://apesolute.com/'
						>@apesolute</a
					>
				</div>
				<div>Student für XR Design & Entwicklung</div>
			</div>
			<div><h2 class='title'>Web-Projekte</h2></div>
			<Cards />
			<div tabindex='0'>
				<div
					class='flex items-center cursor-pointer'
					id='about-me'>
					<h2 class='title'>Über mich</h2>
					<Dropdown class='rotate-180' />
				</div>
			</div>
			<div
				id='about-me-content'
				tabindex='0'
				class='hidden flex flex-col gap-sm'>
				<span>
					<a
						target='_blank'
						href='#'>
						Lebenslauf
					</a>{' '}
					|
					<a
						target='_blank'
						href='https://github.com/ElianKas'>
						Github
					</a>
				</span>
				<div class='flex flex-col gap-sm max-w-paragraph'>
					<p>Ich arbeite seit ca. 2 Jahren selbstständig an Web-Projekten als Entwickler.</p>
					<p>Immer wieder wirke ich auch bei der Konzeption und dem Design mit.</p>
					<p>
						Neben der Webentwicklung bin ich aktiv am lernen neuer XR Technologien und beschäftige
						mich mit Unity und C#.
					</p>
				</div>
			</div>
		</div>
	</div>
</Layout>
<script>
	const aboutMe = document.getElementById('about-me');
	const aboutMeContent = document.getElementById('about-me-content');
	const aboutMeIcon = document.getElementById('about-me-icon');
	aboutMe?.addEventListener('click', () => {
		aboutMeContent?.classList.toggle('hidden');
		aboutMeIcon?.classList.toggle('rotate-180');
	});
</script>
