---
import Layout from '../layouts/Layout.astro';
import Cards from '../components/ui/cards.astro';
import Dropdown from '../components/svg/dropdown.astro';
---

<Layout>
	<div class='p-sm py-md'>
		<div
			class='flex flex-col gap-md sm:grid grid-cols-[auto_auto_1fr] grid-rows-[auto_auto_auto] sm:gap-x-md sm:gap-y-lg'>
			<div class='max-sm:hidden w-[1px] border-r border-stroke h-full row-span-full col-start-2'>
			</div>
			<div class='title'>Web-Entwickler <br /> Portfolio</div>
			<div>Elian Kasteleiner</div>
			<div class='flex flex-col gap-md'>
				<div
					class='flex items-center cursor-pointer'
					id='projects'>
					<h2 class='title'>Projektauswahl</h2>
					<Dropdown class='projects-icon rotate-180' />
				</div>
				<div class='pl-sm flex flex-col gap-sm text-sm'>
					<div class='hover:font-bold'>Digitale Perspektiven</div>
					<div class='hover:font-bold'>khk.community</div>
					<div class='hover:font-bold'>Miteinander für Afrika</div>
					<div class='hover:font-bold'>SmartOPS</div>
				</div>
			</div>
			<Cards />
			<div
				class='hidden'
				id='projects-content-shadow'>
			</div>
			<div
				tabindex='0'
				class='flex flex-col gap-md'>
				<div
					class='flex items-center cursor-pointer'
					id='about-me'>
					<h2 class='title'>Über mich</h2>
					<Dropdown class='about-me-icon' />
				</div>
				<div class='flex flex-col gap-sm pl-sm text-sm'>
					<a
						target='_blank'
						href='#'>
						Lebenslauf
					</a>
					<a
						target='_blank'
						href='https://github.com/ElianKas'>
						Github
					</a>
					<a
						target='_blank'
						href='mailto:e.kasteleiner@outlook.de'>
						E-Mail
					</a>
				</div>
			</div>
			<div
				id='about-me-content'
				tabindex='0'
				class='hidden'>
				<div class='flex flex-col gap-sm max-w-paragraph'>
					<p>Ich lebe zur Zeit in Kassel und studiere XR Design & Entwicklung.</p>
					<p>
						Seit ca. 2 Jahren arbeite ich selbstständig an Web-Projekten als Entwickler bei
						@apesolute.
					</p>
					<p>
						Unter anderem wirke ich auch bei der Konzeption und dem Design von Projekten mit und
						kommuniziere meine Ideen.
					</p>
					<p>
						Neben der Webentwicklung bin ich aktiv am lernen neuer XR Technologien und beschäftige
						mich mit Unity und C#.
					</p>
				</div>
			</div>
		</div>
	</div>
</Layout>
<script>
	const aboutMe = document.getElementById('about-me');
	const aboutMeContent = document.getElementById('about-me-content');
	const aboutMeIcon = document.querySelector('.about-me-icon');
	aboutMe?.addEventListener('click', () => {
		aboutMeContent?.classList.toggle('hidden');
		aboutMeIcon?.classList.toggle('rotate-180');
	});
</script>
<script>
	const projects = document.getElementById('projects');
	const projectsContent = document.getElementById('projects-content');
	const projectsShadow = document.getElementById('projects-content-shadow');
	const projectsIcon = document.querySelector('.projects-icon');
	projects?.addEventListener('click', () => {
		projectsContent?.classList.toggle('hidden');
		projectsShadow?.classList.toggle('hidden');
		projectsIcon?.classList.toggle('rotate-180');
	});
</script>
