---
import Layout from '../layouts/Layout.astro';
import Cards from '../components/ui/cards.astro';
import { projects, getProjectById } from '../utils/projects.js';

export const prerender = false;

const url = Astro.url;
const currentProjectId = url.searchParams.get('project') || 'digitale-perspektiven';
const currentProject = getProjectById(currentProjectId) ?? projects[0];
---

<Layout>
	<div class='p-sm py-md'>
		<div
			class='flex flex-col gap-md sm:grid grid-cols-[auto_auto_1fr] grid-rows-[auto_auto_auto] sm:gap-x-md sm:gap-y-lg'>
			<div class='max-sm:hidden w-[1px] border-r border-stroke h-full row-span-full col-start-2'>
			</div>
			<div class='title'>Web-Entwickler <br /> Portfolio</div>
			<div>Elian Kasteleiner</div>
			<div class='flex flex-col gap-sm'>
				<h2 class='title'>Projektauswahl</h2>
				<div class='pl-sm flex flex-col gap-sm text-sm'>
					{
						projects.map((project) => (
							<a
								href={`/?project=${project.id}`}
								class={currentProject?.id === project.id ? 'text-primary' : 'hover:text-primary'}>
								{project.title}
							</a>
						))
					}
				</div>
			</div>
			<Cards
				projects={projects}
				currentProject={currentProject}
			/>
			<div class='flex flex-col gap-sm'>
				<h2 class='title'>Über mich</h2>
				<div class='flex flex-col gap-sm pl-sm text-sm'>
					<a
						target='_blank'
						href='#'>
						Lebenslauf
					</a>
					<a
						target='_blank'
						href='https://github.com/ElianKas'>
						Github
					</a>
					<a
						target='_blank'
						href='mailto:e.kasteleiner@outlook.de'>
						E-Mail
					</a>
				</div>
			</div>
			<div class='flex flex-col gap-sm max-w-paragraph'>
				<p>Ich lebe zur Zeit in Kassel und studiere XR Design & Entwicklung.</p>
				<p>
					Seit 2 Jahren arbeite ich selbstständig als Entwickler bei <a
						href='https://apesolute.com'
						target='_blank'
						>@apesolute</a
					>. Unter anderem wirke ich auch bei der Konzeption und dem Design von Projekten mit und
					kommuniziere meine Ideen.
				</p>
				<p>
					Neben der Webentwicklung bin ich aktiv am Lernen neuer XR Technologien und beschäftige
					mich mit Unity und C#.
				</p>
			</div>
		</div>
	</div>
</Layout>
