---
import '../styles/global.css';
import Head from '../components/scripts/head.astro';
---

<!doctype html>
<html lang='de'>
	<Head />
	<body>
		<main class='min-h-screen'>
			<slot />
		</main>
	</body>
</html>
