<div
	class='aspect-[4/5] bg-primary w-[290px] py-[25px] px-[20px] flex flex-col gap-sm shadow-md rotate-[3.5deg] relative cursor-pointer'>
	<div
		class='bg-[#1D86F0] shadow-md-strong w-[20px] aspect-square absolute top-[-5px] left-[110px] rounded-full'>
	</div>
	<div class='aspect-square w-full'>
		<img
			class='w-full h-full object-cover'
			src='/images/digitaleperspektiven.png'
			alt=''
		/>
	</div>
	<div class='flex flex-col gap-sm px-sm'>
		<h2 class='title'>Digitale Perspektiven</h2>
		<div>Nuxt | Tailwind | Gsap</div>
	</div>
</div>
