---
import Card from './card.astro';

export type Project = {
	id: string;
	title: string;
	tech: string;
	website: string;
	github?: string;
	imageSrc: string;
	cardClass: string;
	pinClass: string;
	description: string[];
};

export interface Props {
	currentProject: Project;
	projects: Project[];
}

const { projects, currentProject } = Astro.props;
---

<div class='max-sm:pb-md'>
	<Card
		projects={projects}
		currentProject={currentProject}
	/>
</div>
