<div
	class='aspect-[4/5] bg-primary w-[290px] py-[25px] px-[20px] flex flex-col gap-sm shadow-md rotate-[-7deg] relative cursor-pointer'>
	<div
		class='bg-[#EF5F1D] shadow-md-strong w-[20px] aspect-square absolute top-[-6px] right-[70px] rounded-full'>
	</div>
	<div class='aspect-square w-full'>
		<img
			class='w-full h-full object-cover'
			src='/images/afrika.png'
			alt=''
		/>
	</div>
	<div class='flex flex-col gap-sm px-sm'>
		<h2 class='title'>Miteinander für Afrika</h2>
		<div>Nuxt | Storyblok | Nodemailer</div>
	</div>
</div>
