---
const { imageSrc, website, github, class: className } = Astro.props;
---

<div class='flex max-sm:flex-col gap-md items-center'>
	<div
		tabindex='0'
		class={`${className} border text-sm aspect-[4/5]  max-w-[290px] w-full py-[25px] px-[20px] flex flex-col gap-sm shadow-md relative `}>
		<slot name='pin' />
		<div class='aspect-square w-full'>
			<img
				class='w-full h-full object-cover border'
				src={imageSrc}
				alt='Entwickelte Webseite, Kundenprojekt, Vorschau'
			/>
		</div>
		<div class='flex flex-col gap-sm px-sm'>
			<slot name='preview' />
			<div>
				<a
					href={website}
					target='_blank'
					>Webseite</a
				>{
					github && (
						<a
							href={github}
							target='_blank'>
							| Github
						</a>
					)
				}
			</div>
		</div>
	</div>
	<div class='flex flex-col gap-sm max-w-paragraph w-full'>
		<slot name='details' />
	</div>
</div>
