---

---

<div id="three-container"></div>

<script is:inline type="module">
  import * as THREE from "../../../node_modules/three";
  import { GLTFLoader } from '../../../node_modules/three/examples/jsm/loaders/GLTFLoader.js';
  const container = document.getElementById("three-container");

  const scene = new THREE.Scene();  

  const camera = new THREE.PerspectiveCamera(
    75,
    container.clientWidth / container.clientHeight,
    0.1,
    1000,
  );

  const renderer = new THREE.WebGLRenderer({ antialias: true });
  renderer.setSize(container.clientWidth, container.clientHeight);

  container.appendChild(renderer.domElement);

  camera.position.z = 5;

  const loader = new GLTFLoader();
  loader.load('/models/tv.glb', (gltf) => {
    scene.add(gltf.scene);
  });

  const mixer = new THREE.AnimationMixer(gltf.scene);

  const actions = {};

  gltf.animations.forEach((clip) => {
    actions[clip.name] = mixer.clipAction(clip);
  });

  const clock = new THREE.Clock();

  // Beispiel:
  actions['Signal'].play();

  // Test Cube
  const geometry = new THREE.BoxGeometry();
  const material = new THREE.MeshBasicMaterial({ wireframe: true });
  const cube = new THREE.Mesh(geometry, material);
  scene.add(cube);

  function animate() {
    requestAnimationFrame(animate);

    const delta = clock.getDelta();
    mixer.update(delta);

    cube.rotation.x += 0.01;
    cube.rotation.y += 0.01;

    renderer.render(scene, camera);
  }

  animate();

  window.addEventListener("resize", () => {
    const width = container.clientWidth;
    const height = container.clientHeight;

    camera.aspect = width / height;
    camera.updateProjectionMatrix();

    renderer.setSize(width, height);
  });
</script>
